@tailwind base;
@tailwind components;
@tailwind utilities;

/* IE */
::-ms-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 16px;
  background-color: #eaeaea;
}

::-ms-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.65);
  border: 2px solid #eaeaea;
}

::-ms-scrollbar-corner {
  border-radius: 16px;
  background-color: #eaeaea;
}

/* Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 16px;
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.65);
  border: 2px solid #eaeaea;
}

::-webkit-scrollbar-corner {
  border-radius: 16px;
  background-color: #eaeaea;
}

th.MuiTableCell-root[data-pinned='true']:before {
  background-color: #003da5 !important;
  box-shadow: none !important;
}
td.MuiTableCell-root[data-pinned='true']:before {
  background-color: #ffffff !important;
  box-shadow: none !important;
}
th.MuiTableCell-root[data-pinned='true'],
td.MuiTableCell-root[data-pinned='true'] {
  opacity: 1 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
.cpftable th.MuiTableCell-root,
.cpftable td.MuiTableCell-root {
  height: 40px !important;
}
td.MuiTableCell-root .Mui-disabled {
  display: none;
}
th.MuiTableCell-head svg {
  color: #fff;
}
.MuiAlert-message {
  max-width: 100% !important;
}
.MuiTablePagination-root {
  justify-content: end !important;
}
.promogrid-table table .MuiTableHead-root tr,
.threshold-table table .MuiTableHead-root tr,
.manualda-table table .MuiTableHead-root tr {
  background-color: #0c3479 !important;
}
.promogrid-table table .MuiTableBody-root tr,
.manualda-table table .MuiTableBody-root tr,
.manualda-table table td:nth-last-child(2){
  background-color: #f5f5f5 !important;
}
.promogrid-table table td:nth-last-child(2),
.threshold-table table td:nth-last-child(2),
.manualda-table table td:nth-last-child(2) {
  border-right: none !important;
}
.MuiTableHead-root tr .custom-row-actions {
  opacity: 0 !important;
}
.MuiTableBody-root tr .custom-row-actions {
  opacity: 0 !important;
}

.MuiTableBody-root tr:hover .custom-row-actions {
  opacity: 1 !important;
}

td.custom-row-actions.MuiTableCell-root[data-pinned='true']:before {
  background-color: #f5f5f5 !important;
  box-shadow: none !important;
}
th.custom-row-actions.MuiTableCell-root[data-pinned='true']:before {
  background-color: transparent !important;
  display: none !important;
}

.threshold-table td.custom-row-actions.MuiTableCell-root[data-pinned='true']:before {
  background-color: transparent !important;
  box-shadow: none !important;
}

.info-message.MuiAlert-colorInfo {
  display: none;
}

.MuiFormControlLabel-label::first-letter {
  text-transform: uppercase !important;
}
.edited-unit .MuiInputBase-input {
  background: #eef1fd;
  margin: -6px;
  padding: 6px 5px;
  height: 100%;
  font-size: 14px;
}
#manage-column-menu ul {
  max-height: 400px;
}
#manage-column-menu ul li label {
  width: 100%;
  margin-right: 0px;
}

#manage-column-menu .column-menu-item .MuiCheckbox-root {
  padding: 4px 8px !important;
}
.hide-label > label,
.hide-label legend {
  display: none;
}
.column-filter {
  min-width: 220px !important;
}

.material-card {
  width: 32.5%;
  border: 1px solid rgba(0, 0, 0, 0.23);
  background: linear-gradient(90deg, #ffffff 0%, #f2f9fd 100%);
  padding: 20px 30px 20px 30px;
  border-radius: 8px 0px 0px 0px;
}

.comment-input {
  margin: -0.5rem 0rem !important;
  padding: 0px 5px !important;
  font-size: 14px;
}

.comment-input .MuiInputBase-input {
  margin: 0.5rem 0px !important;
  padding: 0px 5px !important;
}

.comment-input .MuiOutlinedInput-notchedOutline {
  border: none;
}

.comment-input.focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #003da5; /* or any other border style you prefer */
}
