@tailwind base;
@tailwind components;
@tailwind utilities;

th.MuiTableCell-root[data-pinned='true']:before {
  background-color: #003da5 !important;
}
td.MuiTableCell-root .Mui-disabled {
  display: none;
}
th.MuiTableCell-head svg {
  color: #fff;
}
.MuiAlert-message {
  max-width: 100% !important;
}
